@model List<BookViewModel>
@{
    ViewData["Title"] = "Book - Index";
}

<h1>Book Index</h1>





<div class="row">
    <div class="col-2">Title</div>
    <div class="col-2">Author</div>
    <div class="col-2">Year</div>
    <div class="col-2">Publisher</div>
    
</div>
@foreach (BookViewModel book in Model)
{
    <partial name="_BookDetails3" model="book" />
}